<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Game Optimization Linux</vendor>
  <vendor_url>https://github.com/DevVoidPL/GameOptimizationLinux</vendor_url>
  <action id="io.github.DevVoidPL.GameOptimizationLinux.measure">
    <description>Measure Btrfs compression for a verified game directory</description>
    <description xml:lang="pl">Zmierz kompresję Btrfs zweryfikowanego katalogu gry</description>
    <description xml:lang="es">Medir la compresión Btrfs de un directorio de juego verificado</description>
    <message>Authentication is required for a read-only Btrfs compression measurement</message>
    <message xml:lang="pl">Uwierzytelnienie jest wymagane do odczytowego pomiaru kompresji Btrfs</message>
    <message xml:lang="es">Se requiere autenticación para medir la compresión Btrfs en modo de solo lectura</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/game-optimization-linux-measure-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
